@model EditorViewModel
@{
    var addOrEdit = String.IsNullOrWhiteSpace(Model.Id) ? "Add" : "Edit";
    ViewBag.Title = $"Radio - {addOrEdit}";
}
<h2>@ViewBag.Title</h2>
<form asp-antiforgery="true" asp-controller="radio" asp-action="save">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input type="text" class="form-control" asp-for="Description" />
    </div>

    <div class="form-group">
        <label asp-for="StreamUrl">Stream Url</label>
        <input type="text" class="form-control" asp-for="StreamUrl" />
    </div>

    <div class="form-group">
        <label asp-for="StreamQuality">Stream Quality</label>
        <select class="form-control" asp-for="StreamQuality" asp-items="Model.StreamQualities"></select>
    </div>

    <div class="form-group">
        <label asp-for="Genre">Genre</label>
        <select type="text" class="form-control" asp-for="Genre" asp-items="Model.Genres"> </select>
    </div>

    <div class="form-group">
        <label asp-for="Priority">Priority</label>
        <input type="text" class="form-control" asp-for="Priority" />
    </div>


    <div class="form-group">
        <label asp-for="IsActive">Is Active?</label>
        <select type="text" class="form-control" asp-for="IsActive" asp-items="WebVaanoli.Helpers.SelectListHelper.BooleanSelectList()"></select>
    </div>

    <button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Save</button>
    <a class="btn btn-default" asp-controller="radio" asp-action="index"><i class="glyphicon glyphicon-remove"></i>&nbsp; Cancel</a>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}