@using TicTacToe.Core;

<style>
    .cell{
        display: flex; 
        width: 100px; 
        height: 100px;
        margin: auto; 
        border-radius: 10px; 
        background-color:darkslateblue;
        font-weight: bold;
        font-size: 2em;
        color: white;
    }

    .cell > span{
        margin: auto;
        text-align:  center;
    }
</style>

<div @onclick="CellSelected" class="cell">
    <span>
       @(Data.Value switch
        {
            Option.Cross => "X",
            Option.Nought => "O",
            _ => " "
        })
    </span>
</div>

@code {
  
  [Parameter]
  public Cell<Option> Data {get; set;}

  [Parameter]
  public EventCallback<Coordinates> OnCellSelected {get; set;}

  private void CellSelected(){
      OnCellSelected.InvokeAsync(Data.Coordinates);
  }
}
