/* common variables start */
/* common variables end */
/* colors - variable start*/
/* colors - variables end */
.btn {
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.padd {
  padding: 10px;
}
.margin {
  margin: 10px;
}
.active {
  background: #ee5f5b !important;
  color: #fff;
}
.player {
  position: fixed;
  width: 100%;
  padding: 5px;
  margin-top: 52px;
  background: #3A3F44;
  z-index: 2;
  box-shadow: 0 0 5px 1px #222;
}
.player span {
  padding-left: 10px;
  padding-right: 10px;
}

.player-control{
  padding:2px;
  box-shadow: 1px 1px 1px 0 #222;
}

.player-control.player-control-active {
  color: #ee5f5b;
}
.player-control:hover {
  color: #ee5f5b;
  cursor: pointer;
}
.player-volume-bar {
  background-color: #3B3C36;
  width: 70%;
  height: 10px;
  display: inline-block;
  margin-bottom: 5px;
  padding:0;
  text-align: left;
}
.player-volume-bar:hover {
  cursor: pointer;
}
.player-volume-bar-value {
  background-color: #ee5f5b;
  width: 70%;
  height: 8px;
  display: inline-block;
  margin-bottom: 6px;
  padding:0;
}

ul.main-list {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

.main-list li{
    /*border-bottom: 1px ridge #000;*/
    background-color: #3B3C36;
    box-shadow: 0 1px 3px 0 #000;
    margin:5px;
    border-radius: 15px;
      
}

.main-list li .radio{
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px;
  vertical-align:top;
  margin: 0 0 0 50px;
}

.main-list li .radio:hover{
  background: #ee5f5b !important;
  color: #fff;
  cursor: pointer;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.i-2x {
  font-size: 2em;
}
li.active {
  background: #ee5f5b !important;
  color: #fff;
}
li.active a {
  background: #ee5f5b !important;
  color: #fff;
}
nav {
  font-weight: bold;
}
nav a:hover {
  background: #ee5f5b !important;
  color: #fff;
}

 .content {
    position: relative;
    padding-top: 90px;
    margin: auto;
    }
    
@media screen and (max-width:992px){
    .content {
    position: relative;
    padding-top: 155px;
    margin: auto;
    }
}
footer {
  bottom: 0;
  text-align: center;
  background: #3A3F44;
  box-shadow: 0 0 2px 1px #000;
}
.muted {
  font-size: x-small;
  color: grey !important;
}

.center{
    text-align: center;
}

.main-text{
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom:8px;
}

.jp-volume{
    text-align: left;
}

.padd-top{
    padding-top: 10px;
}

.fixed-ad-left{
    position:fixed;
    padding-top:30px;
    left:5px;
    z-index:-1;
    
}

.fixed-ad-right{
    position:fixed;
    padding-top:30px;
    right: 5px;
    z-index: -1;
}

.no-margin-left{
    margin-left: 0;
}

.no-margin-right{
    margin-right:0;
}

.avatar{
    float:left;
    margin-right:10px;
    height:43px;
    width:45px;
    color:#fff;
    font-weight: bolder;
    border-radius:30px;
    text-align: center;
    font-size: 1.25em;
    padding-top:10px;
    background-color: #ee5f5b;
}
