@page "/"
@using TicTacToe.Core;

<h1 style="text-align:center">Main title</h1>

<div class="card" style="width: 310px; margin: 50px auto">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> You: X </li>
    <li class="list-group-item">Computer: O</li>
    <li class="list-group-item"> 
        @if(game.Winner != null){
            <div>  
                @if(game.Winner == Player.Player1){
                    @:You won!
                }else{
                    @:You lost :(
                }
            </div>
        }else{
            <div>  
                @if(game.Turn == Player.Player1){
                    @:Your turn
                }else{
                    @:Computer's turn
                }
            </div>
        }
    </li>
  </ul>
</div>


<div style="width:310px; margin:50px auto">
    <table class="table game-board">
        @{
            var rowIndex = -1;
            var colIndex = -1;
        }
        @foreach (var row in game.Board)
        {
            rowIndex++;
            colIndex = -1;
        <tr>
            @foreach (var col in row)
            {
                colIndex++;
                @switch (col)
                {
                    case Option.Cross:
                        <td>X</td>;
                        break;
                    case Option.Nought:
                        <td>O</td>;
                        break;
                    default:
                        var r = rowIndex;
                        var c = colIndex;
                        <td @onclick="() => game.Play(r, c)">&nbsp;</td>
                        break;
                }
            }
        </tr>    
        }
    </table>
</div>
@code {
  Game game = new Game();
}
