@page "/"
@using TicTacToe.Components.Board;
@using TicTacToe.Core;

<h1 style="text-align:center">Main title</h1>

<div class="card bg-secondary text-center" style="width: 310px; margin: 50px auto">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-secondary text-white"> You: X </li>
    <li class="list-group-item bg-secondary text-white">Computer: O</li>
    <li class="list-group-item bg-secondary text-white" style="font-weight: bold"> 
        @if(game.Winner != null){
            <div>  
                @if(game.Winner == Player.Player1){
                    @:You won!
                }else{
                    @:You lost :(
                }
            </div>
        }else{
            <div>  
                @if(game.Turn == Player.Player1){
                    @:Your turn
                }else{
                    @:Computer's turn
                }
            </div>
        }
    </li>
  </ul>
</div>


<div style="width:310px; margin:50px auto">
    <table class="table game-board">

        @foreach (var row in game.Board.Rows)
        {
        <tr>
            @foreach (var cell in row)
            {
                <td style="padding:0; margin:0">
                    <Cell Data="cell" OnCellSelected="(coord) => game.Play(coord.X, coord.Y)"/>
                
                </td>
            }
        </tr>    
        }
    </table>
</div>
@code {
  Game game = new Game();
}
