@page "/"

<h1>Title</h1>



<table class="table game-board">
    <tr>
        <td>X</td>
        <td>O</td>
        <td>O</td>
    </tr>
    <tr>
        <td>X</td>
        <td>X</td>
        <td>O</td>
    </tr>
    <tr>
        <td>X</td>
        <td>O</td>
        <td>X</td>
    </tr>
</table>
